@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação do registo";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Ainda não existe um serviço de envio de Emails, para mais informações verificar a documentação neste link para configurar o serviço de envio de Emails: <a href="https://aka.ms/aspaccountconf">these docs</a>.
    este link deverá ser enviado por Email para confirmação da conta: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clica aqui para confirmar o Email</a>.
</p>
    }
    else
    {
<p>
        Verifica o teu Email para confirmares a conta.
</p>
    }
}

